*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex{
    height: 100vh;
}

.main_content{
    padding-left: 250px;
}

@media (max-width: 1250px) {
    .main_content{
        padding-left: 83px;
    }
}

